<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    <script src="/client.js"></script>
    <script src="/hotkey.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">

</head>
<body>

    <section class="left-sidebar">
        <section class="spotlight-section">
            <header>
                <h2>Spotlight</h2>
                <a href="" class="refresh">refresh</a>
            </header>
            <main>
            </main>
        </section>
        <section class="stats">
            <h2>Stats</h2>
            <div></div>
            <table>
            </table>
        </section>
        <section class="latest-prices">
            <h2>Latest Prices</h2>
            <div></div>
        </section>
        <section class="about">
            <h2>About</h2>
            <h3>Team name: Pragmatic Programmers</h3>
            <ul>
                <li><a href="https://github.com/Akman13">Akram</a></li>
                <li><a href="https://github.com/DeepaliPatro">Deepali</a></li>
                <li><a href="https://github.com/TalesPinto">Tales</a></li>
                <li><a href="https://github.com/BigBBazz">Tom</a></li>
            </ul>
            <footer>&copy; 2023 Pragmatic Programmers</footer>
        </section>
    </section>
    <main id="map">main map</main>
    <section class="right-sidebar">
        <section class="clock">
            <h2></h2>
        </section>
        <section class="map-center-location">
            <h2>Map center location</h2>
            <p id="center-lat"></p>
            <p id="center-lng"></p>
            <h3></h3>
        </section>

        <section class="nearest-section">
            <h2>Nearest stations</h2>

            <ul>
            </ul>

        </section>

        <section class="random-quote">
            <h2>Pragmatic Inspiration</h2>
            <div>
                <h3 class="quote"></h3>
                <p class="author"></p>
            </div>
        </section>
    </section>

    <script src="/client.js"></script>

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
    </script>

    <script type="module" src="/components/clock.js"></script>
    <script type="module" src="/components/nearest_list.js"></script>
    <script type="module" src="/components/latest_prices.js"></script>
    <script type="module" src="/components/spotlight.js"></script>
    <script type="module" src="/components/stats.js"></script>
    <script type="module" src="/components/quote_generator.js"></script>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/underscore@1.13.6/underscore-umd-min.js"></script>
</body>
</html>