<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/client.js"></script>
</head>
<body>

    <section class="left-sidebar">
        <section>spotlight</section>
        <section>
            <h2>Stats</h2>
            <h3>Total Stations: 5244</h3>
            <h3>Total Owners: 32</h3>
            <table>
                <tr>
                    <th>Caltex</th>
                    <th>1502</th>
                </tr>
                <tr>
                    <th>BP</th>
                    <th>1230</th>
                </tr>
            </table>


        </section>
        <section>latest prices</section>
        <section>
            <h2>About</h2>
            <h3>Team name: Pragmatic Programmers</h3>
            <ul>
                <li><a href="https://github.com/Akman13">Akram</a></li>
                <li><a href="https://github.com/DeepaliPatro">Deepali</a></li>
                <li><a href="https://github.com/TalesPinto">Tales</a></li>
                <li><a href="https://github.com/BigBBazz">Tom</a></li>
            </ul>
            <footer>&copy; 2023 Pragmatic Programmers</footer>
        </section>
    </section>
    <main id="map">main map</main>
    <section class="right-sidebar">
        <section>
            <p class="clock"></p>
        </section>
        <section>
            <h2>map center location</h2>
            <p id="center-lat"></p>
            <p id="center-lng"></p>
        </section>
        <section>nearest</section>
    </section>

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap">
    </script>
    <script src="/components/clock.js"></script>
</body>
</html>