<section class="left-sidebar">
    <section>spotlight</section>
    <section>stats</section>
    <section>latest prices</section>
    <section>about</section>
</section>
<main class="map">main map</main>
<section class="right-sidebar">
    <section>date</section>
    <section>map center location</section>
    <section>nearest</section>
</section>