*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    height: 100%;
}

#map{
    height: 100%;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.spotlight-section{
    height: 8em;
    border-bottom: 2px solid black;
    padding: 10px 10px 10px 5px;
}
.spotlight-section header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 5px;
}
.spotlight-section main{
    display: flex;
    justify-content: space-between;
}
.spotlight-section main img{
    height: 3em;
}
.stats{
    height: 22em;
    border-bottom: 2px solid black;
    padding: 0px 5px;
}
.stats h2 {
    margin-top: 10px;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
tr{
    border-top: 1px solid black;
}
td{
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
}
.station-count{
    text-align: right;
}
tr:nth-child(even){
    background-color: #dddddd;
}
.latest-prices{
    height: 12em;
    border-bottom: 2px solid black;
    padding-left: 5px;
    padding-top: 10px;
}
.about{
    padding-left: 5px;
}
.about h2, h3{
    padding-top: 10px;
}
.about ul{
    padding: 15px 5px;
    list-style: none;
}

.right-sidebar {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-bottom: 2px solid black;
}
.map-center-location{
    height: 10em;
    border-bottom: 2px solid black;
}
.map-center-location h2, p, h3{
    padding: 5px;
}
.nearest-section{
    border-bottom: 2px solid black;
}
.nearest-section h2{
    /* border-bottom: 1px solid black; */
    padding: 10px 5px;
}
.nearest-section li{
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.nearest-section li:nth-child(even){
    background-color: #dddddd;
}
.nearest-section li img{
    padding: 5px;
    height: 3em;
}
.hotkey-sidebar {
    display: none;
}
.hotkey-body {
    display: block;
}
.random-quote{
    flex: 1 0 auto;
    position: relative;
}
.random-quote h2{
    padding: 10px 5px;
}
.random-quote div{
    width: 80%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.random-quote .quote {
    font-family: 'Vidaloka', serif;
    font-weight: normal;
    font-style: italic;
}
.random-quote .author{
    font-family: 'Vidaloka', serif;
    font-weight: bold;
}